<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title> Art - Tags Overview</title><style>
body {
    font-family: Verdana, sans-serif;
}
table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    width: 31em;
}

td, th {
    border: 1px solid #080808;
    padding: 8px;    
    vertical-align: top;
}

tr:hover {background-color: #fdf3fd;}

th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #6c3b6c;
    color: white;
}
</style></head>
   <body>
      <h1>Tags Overview</h1>
      <hr>
      <h2>Cubism</h2><b> Description: </b><br>
      Style of painting born in the early 20th century which abstracts
      by reducing subjects to geometric outlines.
      <br><br>
      		Below is a list of all Artists or Exhibitions tagged with 
      Cubism, either directly, or indirectly via association from their creators or creations.
      		
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Artists </h3>
                     </th>
                  </tr>
                  <tr>
                     <td>Pablo Picasso
                        		( 1881-10-25
                        			to  1973-04-07, born in 
                        
                        		 Spain )
                        	
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Artist(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Exhibitions </h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Mediteranean Landscape, <b>Type: </b>PAINTING<br><br><b> Label: </b><br><i>
                           	The painting was painted by Pablo Picasso and finished by 1952.
                           	An early example of Picassos cubism who he developed alongside George Braque
                           </i><br><br><b> Created By: </b><ul>
                           <li>Pablo Picasso
                              		( 1881-10-25
                              			to  1973-04-07, born in 
                              
                              		 Spain )
                              	
                           </li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Exhibition(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
      <h2>Jugendstil</h2><b> Description: </b><br>
      No further information on Jugendstil.
      <br><br>
      		Below is a list of all Artists or Exhibitions tagged with 
      Jugendstil, either directly, or indirectly via association from their creators or creations.
      		
      <table>
         <tr>
            <td>
               <table>
                  <tr>
                     <th>
                        <h3> Exhibitions </h3>
                     </th>
                  </tr>
                  <tr>
                     <td><b>Title: </b>Statue des hl. Leopold, <b>Type: </b>SCULPTURE<br><br><b> Label: </b><br><i>
                           	Eine von zwei Statuen auf der Kirche am Steinhof, eines der
                           	Hauptwerke des Jugendstil. Wie auch die Kirche von
                           	Otto Wagner konzipiert.
                           </i><br><br><b> Created By: </b><ul>
                           <li>Otto Wagner (Unregistered Artist)
                              
                           </li>
                        </ul>
                     </td>
                  </tr>
                  <tr>
                     <td><b> Found: </b>1 Exhibition(s)
                        
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr>
   </body>
</html>